/* CSS variables */
:root {
  --ck-border-radius: var(--small-border-radius) !important;
  --ck-color-base-border: hsl(212, 25%, 50%, 0.25) !important;
  --ck-color-button-default-active-background: var(
    --ui-control-active-bg-color
  ) !important;
  --ck-color-button-default-hover-background: var(
    --ui-control-bg-color
  ) !important;
  --ck-color-split-button-hover-border: transparent !important;
  --ck-color-split-button-hover-background: hsl(
    var(--gray-400-hsl),
    0.1
  ) !important;
  --ck-color-button-on-active-background: var(
    --ui-control-active-bg-color
  ) !important;
  --ck-color-button-on-background: var(--ui-control-active-bg-color) !important;
  --ck-color-button-on-color: var(--text-color) !important;
  --ck-color-button-on-hover-background: var(
    --ui-control-active-bg-color
  ) !important;
  --ck-color-focus-border: hsl(var(--dark-focus-hsl)) !important;
  --ck-color-focus-outer-shadow: hsl(var(--dark-focus-hsl), 0.5) !important;
  --ck-color-list-button-on-background-focus: var(--dark-sel-color) !important;
  --ck-color-list-button-on-background: var(--dark-sel-color) !important;
  --ck-color-shadow-drop-active: var(--ck-color-shadow-drop) !important;
  --ck-color-shadow-drop: hsl(210, 24%, 16%, 0.2) !important;
  --ck-color-text: var(--text-color) !important;
  --ck-color-toolbar-border: var(--ck-color-base-border) !important;
  --ck-drop-shadow-active: var(--ck-drop-shadow) !important;
  --ck-drop-shadow: 0 0 0 1px hsl(210, 24%, 16%, 0.1),
    0 5px 20px hsl(210, 24%, 16%, 0.25) !important;
  --ck-spacing-unit: 0.69em !important;
  --ck-powered-by-line-height: 8px;
  --ck-powered-by-padding-vertical: 0px;
  --ck-powered-by-padding-horizontal: 0px;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky .ck.ck-toolbar {
  border-top-width: 0;
}

.ck.ck-button:active,
.ck.ck-button:focus,
a.ck.ck-button:active,
a.ck.ck-button:focus {
  box-shadow: none !important;
}

.ck.ck-editor__editable_inline {
  padding: calc(var(--m) - 2px) var(--m)
    calc(
      var(--m) + var(--ck-powered-by-line-height) +
        var(--ck-powered-by-padding-vertical)
    ) !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  box-shadow: var(--ck-focus-outer-shadow) !important;
}

.ck.ck-dropdown__panel {
  border: none !important;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button.ck-on {
  border-bottom-left-radius: var(--ck-border-radius) !important;
  border-bottom-right-radius: var(--ck-border-radius) !important;
}

.ck.ck-dropdown__panel.ck-dropdown__panel_se,
.ck.ck-dropdown .ck-dropdown__panel .ck-list.ck-rounded-corners,
.ck.ck-dropdown
  .ck-dropdown__panel
  .ck-list
  .ck-list__item:first-child
  .ck-button.ck-rounded-corners,
.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel .ck-list,
.ck-rounded-corners
  .ck.ck-dropdown
  .ck-dropdown__panel
  .ck-list
  .ck-list__item:first-child
  .ck-button {
  border-top-left-radius: var(--ck-border-radius) !important;
}

/* content */
.ck.ck-content[dir='ltr'] ul {
  padding-left: 40px;
}

.ck.ck-content[dir='rtl'] ul {
  padding-right: 40px;
}

/* code blocks */
.ck.ck-editor__editable pre[data-language]::after {
  top: 0 !important;
  text-shadow: none;
  border-radius: 0 0 var(--ck-border-radius) var(--ck-border-radius);
}

/* vertical panel dropdowns */
.ck.ck-link-form_layout-vertical .ck.ck-dropdown {
  display: block;
  margin: var(--ck-spacing-large) var(--ck-spacing-large)
    var(--ck-spacing-small);
}

.ck.ck-link-form_layout-vertical
  .ck.ck-dropdown
  .ck-button.ck-dropdown__button
  .ck-button__label {
  width: 100%;
}

.ck.ck-link-form_layout-vertical .ck.ck-dropdown__panel .ck.ck-list {
  margin: 0;
}

/* word count */
.ck-with-show-word-count .ck.ck-content {
  border-radius: 0 !important;
}

.ck-word-count {
  padding: var(--s) var(--m);
  border: solid var(--ck-color-base-border);
  border-width: 0 1px 1px;
  border-bottom-left-radius: var(--ck-border-radius);
  border-bottom-right-radius: var(--ck-border-radius);
  background: var(--ck-color-base-background);
}
