{% import '_includes/forms' as forms %}

{{ forms.checkboxField({
    label: "Purify HTML?"|t('ckeditor'),
    instructions: 'Removes any potentially-malicious code on save, by running the submitted data through <a href="http://htmlpurifier.org/" target="_blank">HTML Purifier</a>.'|t('ckeditor'),
    warning: 'Disable this at your own risk!'|t('ckeditor'),
    id: 'purifyHtml',
    name: 'purifyHtml',
    checked: field.purifyHtml,
    toggle: 'purifier-config-container'
}) }}

<div id="purifier-config-container"{% if not field.purifyHtml %} class="hidden"{% endif %}>
    {{ forms.selectField({
        label: "HTML Purifier Config"|t('ckeditor'),
        instructions: "You can save custom {name} configs as {ext} files in {path}."|t('ckeditor', {
            name: 'HTML Purifier Config',
            ext: '`.json`',
            path: '`config/htmlpurifier/`'
        }) ~
        ' <a href="http://htmlpurifier.org/live/configdoc/plain.html" target="_blank">'~"View available settings"|t('ckeditor')~'</a>',
        id: 'purifierConfig',
        name: 'purifierConfig',
        options: purifierConfigOptions,
        value: field.purifierConfig
    }) }}
</div>

{% if craft.app.db.isMysql %}
    {{ forms.selectField({
        label: "Column Type"|t('ckeditor'),
        id: 'column-type',
        name: 'columnType',
        instructions: "The type of column this field should get in the database."|t('ckeditor'),
        options: [
            { value: 'text', label: 'text (~64KB)' },
            { value: 'mediumtext', label: 'mediumtext (~16MB)' },
        ],
        value: field.columnType,
        warning: (field.id ? "Changing this may result in data loss."|t('ckeditor')),
    }) }}
{% endif %}
